/* Header */
.header-container {
    background-color: #f25931;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    padding: 1rem;
  }
  

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  

  .header-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .header-links a {
    color: #fffefe;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
  }
  

  .header-title {
    color: #fffefe;
    font-family: "Archivo-Bold", Helvetica;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  

  .sign-up-button {
    background-color: #005617;
    color: #fffefe;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .shopping-cart {
    height: 35px;
    width: 35px;
    object-fit: cover;
  }
  